In [1]:
import numpy as np
import pandas as pd

### STEP 4 : Removing Duplicates

# STEP 1: Loading the data.

In [2]:
messy_data=pd.read_csv("messy_data.csv")

In [3]:
messy_data

,Unnamed: 0,ID,Name,Age,Email,Join Date,Salary,Department
0,0,1e407ff9-6255-489d-a0de-34135d4f74bd,Hunter Thomas,25.0,xlopez@hotmail.com,NaN,88552.000000,Sales
1,1,379f55b8-87d5-4739-a146-7400b78c24d1,Jeremy Irwin,90.0,Jillian Jenkins,2022-07-07,139227.000000,NaN
2,2,18261368-dfa1-47f0-afc6-bddf45926b07,Jennifer Hammondquickly,66.0,jscottgreen.biz,2023-11-21,65550.000000,Engineering
3,3,ae7cf7cf-17cf-4c8b-9c44-4f61a9a238e5,Sydney Taylorso,39.0,luke56gonzalez.com,2021-11-05,139932.000000,SupportJ
4,4,14ed3e6a-e0f5-4bbe-8d93-8665267f5c90,Julia Lee,71.0,figueroakayla@yahoo.com,NaN,143456.000000,Marketing
...,...,...,...,...,...,...,...,...
10995,6523,07c223be-03e6-4f70-a2b5-86df778cc61a,NaN,NaN,NaN,NaN,NaN,NaN
10996,9785,da8a6bbc-5026-4630-848d-f64e80dac56c,Steven Armstrong,38.0,molly89gmail.com,2021-06-24,NaN,Sales
10997,7826,ed19c966-d6d8-4047-b410-b6e595a39340,Stephanie Riossell,NaN,robert96@pollard-frye.com,15/08/2006,122609.594149,HR
10998,7648,783b36b4-d09f-46c9-8a52-7ff96b80863e,Bonnie Benitez,37.0,roypark@warren.net,2020-10-09,147322.005171,Support
10999,7107,fc25a38a-5747-46eb-b6d3-7173f8255809,Caroline Ochoa,53.0,cdavis@hodges.com,2023-08-10,149224.000000,Support

In [4]:
messy_data.shape

(11000, 8)

In [5]:
messy_data.head()

,Unnamed: 0,ID,Name,Age,Email,Join Date,Salary,Department
0,0,1e407ff9-6255-489d-a0de-34135d4f74bd,Hunter Thomas,25.0,xlopez@hotmail.com,NaN,88552.0,Sales
1,1,379f55b8-87d5-4739-a146-7400b78c24d1,Jeremy Irwin,90.0,Jillian Jenkins,2022-07-07,139227.0,NaN
2,2,18261368-dfa1-47f0-afc6-bddf45926b07,Jennifer Hammondquickly,66.0,jscottgreen.biz,2023-11-21,65550.0,Engineering
3,3,ae7cf7cf-17cf-4c8b-9c44-4f61a9a238e5,Sydney Taylorso,39.0,luke56gonzalez.com,2021-11-05,139932.0,SupportJ
4,4,14ed3e6a-e0f5-4bbe-8d93-8665267f5c90,Julia Lee,71.0,figueroakayla@yahoo.com,NaN,143456.0,Marketing

In [6]:
messy_data.columns

Index(['Unnamed: 0', 'ID', 'Name', 'Age', 'Email', 'Join Date', 'Salary',
       'Department'],
      dtype='object')

In [7]:
messy_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11000 entries, 0 to 10999
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  11000 non-null  int64
 1   ID          11000 non-null  object
 2   Name        8667 non-null   object
 3   Age         9253 non-null   float64
 4   Email       9731 non-null   object
 5   Join Date   8808 non-null   object
 6   Salary      8761 non-null   float64
 7   Department  8745 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 687.6+ KB

# STEP 2: Inspection Of Data

### To drop unwanted column

In [8]:
messy_data.drop(columns=['Unnamed: 0'], inplace=True)

In [9]:
messy_data.columns

Index(['ID', 'Name', 'Age', 'Email', 'Join Date', 'Salary', 'Department'], dtype='object')

# STEP 3: Handling Missing Values.

In [10]:
messy_data.isnull().sum()

ID               0
Name          2333
Age           1747
Email         1269
Join Date     2192
Salary        2239
Department    2255
dtype: int64

In [11]:
# Null values present in the columns Name,Age,Email,Join Date,Salary,Department.

In [12]:
# Finding the percentage of missing values so that the columns with more than 50% of missing values may be dropped

In [13]:
messy_data.isnull().sum()/messy_data.shape[0]*100

ID             0.000000
Name          21.209091
Age           15.881818
Email         11.536364
Join Date     19.927273
Salary        20.354545
Department    20.500000
dtype: float64

In [14]:
# As none of the columns have missing values above 50%  its been decided that  no columns are dropped.

In [15]:
print(messy_data['Salary'].isnull().sum())

2239

### Replacing Null Values in Age & Salary Columns

In [16]:
 pd.options.mode.copy_on_write = True

In [17]:
messy_data['Salary'].fillna(messy_data['Salary'].median(), inplace=True)

In [18]:
print(messy_data['Salary'].isnull().sum())

2239

In [19]:
messy_data['Age'].fillna(messy_data['Age'].median(), inplace=True)

In [20]:
 pd.options.mode.copy_on_write = True

In [21]:
messy_data['Age'].fillna(messy_data['Age'].median(), inplace=True)

In [22]:
print(messy_data['Age'].isnull().sum())

1747

In [23]:
messy_data.dropna(axis=0, how='any', inplace=True)  # Drop rows with missing values

In [24]:
messy_data.isnull().sum()

ID            0
Name          0
Age           0
Email         0
Join Date     0
Salary        0
Department    0
dtype: int64

### STEP 4: Removing Duplicates

In [25]:
messy_data=messy_data.drop_duplicates()
messy_data

,ID,Name,Age,Email,Join Date,Salary,Department
2,18261368-dfa1-47f0-afc6-bddf45926b07,Jennifer Hammondquickly,66.0,jscottgreen.biz,2023-11-21,65550.000000,Engineering
3,ae7cf7cf-17cf-4c8b-9c44-4f61a9a238e5,Sydney Taylorso,39.0,luke56gonzalez.com,2021-11-05,139932.000000,SupportJ
5,f92ea13f-24d3-4792-91e4-5b0e07d90c2c,Lisa Bailey,81.0,milleryvonne@fowler-york.com,15/10/2016,123018.000000,SupportE
6,c4892dbb-2554-4ce1-8f11-f6597d7f6782,Patricia Brown DVM,66.0,pperkinshotmail.com,17/09/2020,77311.000000,HR
9,d06f507d-62e5-4bd6-a252-4e60e109d324,Jay Fisher,44.0,denisemaynard@jordan.com,2022-12-08,37701.725993,HR
...,...,...,...,...,...,...,...
10989,4d450808-7caf-432e-bf65-385e715b43fe,Richard Leonard,58.0,luis19@gmail.com,01/05/1982,103005.000000,HRJ
10990,10c26512-ce3a-4387-b71a-47768503562e,Kimberly Cummings,54.0,rmccoy@hall.com,2020-06-11,60950.500220,Marketing
10991,612011e6-101d-4ee2-bbca-16a5056d8217,Jeffrey Elliottnation,72.0,jpatterson@wise.org,2021-08-05,50510.777098,Support
10993,796f8c0b-15a4-475c-bb02-ac892df0c746,Shelley Hopkinslive,79.0,Michael Walker,25/12/1992,47809.000000,HR
10998,783b36b4-d09f-46c9-8a52-7ff96b80863e,Bonnie Benitez,37.0,roypark@warren.net,2020-10-09,147322.005171,Support

In [26]:
messy_data.duplicated().sum()

0

In [27]:
# There was 291 duplicate records and the same was deleted

### STEP5 : Correcting Email formats.

In [28]:
# Convert all entries in the 'Email' column to strings
messy_data['Email'] = messy_data['Email'].astype(str)

import re

# Function to validate email format
def is_valid_email(email):
    pattern = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
    return re.match(pattern, email) is not None

# Apply the function to correct email formats
messy_data['Email'] = messy_data['Email'].apply(lambda x: x if is_valid_email(x) else None)

# Drop rows with invalid emails
messy_data.dropna(subset=['Email'], inplace=True)

### STEP 6: Clean Name Fields

In [29]:
print(messy_data['Name'].value_counts())

Name
Crystal Gonzalez          3
Christopher Richardson    3
Jennifer Smith            3
Amy Smith                 3
Steven Jones              3
                         ..
Tonya Ray                 1
Renee Lloyd               1
Kelly Hill                1
Tom Martin                1
Jeffrey Elliottnation     1
Name: count, Length: 4273, dtype: int64

In [30]:
# To check for uncommon values under 'Name ' column, threshold option is used assuming that noise is rare
threshold = 10
uncommon_values = messy_data['Name'].value_counts()[messy_data['Name'].value_counts() < threshold]
print(uncommon_values)

Name
Crystal Gonzalez          3
Christopher Richardson    3
Jennifer Smith            3
Amy Smith                 3
Steven Jones              3
                         ..
Tonya Ray                 1
Renee Lloyd               1
Kelly Hill                1
Tom Martin                1
Jeffrey Elliottnation     1
Name: count, Length: 4273, dtype: int64

In [31]:
# checking for garbage values in object columns

In [32]:
for i in messy_data.select_dtypes(include="object").columns:
    print(messy_data[i].value_counts())
    print("***"*10)

ID
509b9d85-0625-468b-b004-7d821a6ed400    2
aa1b2231-64b9-41b6-aa1f-3f904ed38157    2
63d1bbe7-2bdc-4f79-a43c-281afaa15cd3    2
8e9e0d6c-338a-4d8f-9a9f-af0d1032f5ca    2
4215c3f8-b558-4ca6-8c2d-5cea96eaa167    2
                                       ..
90b98e97-77f4-4f35-a15d-493d64937cb6    1
efaa181a-2a0d-4779-ac02-8ad0cac9d7b8    1
ccf9142d-98c4-4513-9b13-601372f2b7c3    1
35d89648-4f48-446b-aba5-1bd81a2c251c    1
e198cca1-70c0-465d-8459-82f5b0e71163    1
Name: count, Length: 4260, dtype: int64
******************************
Name
Crystal Gonzalez          3
Christopher Richardson    3
Jennifer Smith            3
Amy Smith                 3
Steven Jones              3
                         ..
Tonya Ray                 1
Renee Lloyd               1
Kelly Hill                1
Tom Martin                1
Jeffrey Elliottnation     1
Name: count, Length: 4273, dtype: int64
******************************
Email
mmurphy@gmail.com                 3
kimberly45@sullivan.com           2
castanedajamie@knight.org         2
hroberts@gmail.com                2
david18@michael-bradley.com       2
                                 ..
eramirez@hotmail.com              1
rmartin@hotmail.com               1
johnphillips@gmail.com            1
aprilknight@taylor-perkins.biz    1
weavermary@yahoo.com              1
Name: count, Length: 4248, dtype: int64
******************************
Join Date
2023-09-30    8
2020-04-08    7
2022-07-06    7
2022-11-07    7
2022-09-02    7
             ..
07/01/1971    1
22/11/2005    1
05/11/2002    1
08/07/2021    1
01/05/1982    1
Name: count, Length: 2377, dtype: int64
******************************
Department
Marketing      728
Sales          723
Support        723
Engineering    719
HR             680
              ...
HRo              1
SalesC           1
Salesx           1
SupportJ         1
SupportZ         1
Name: count, Length: 256, dtype: int64
******************************

In [33]:
### The above two functions is aimed to detect the presence of garbage values in columns with object datatypes like name,Email,Join date and department

### STEP 7: Standardising Date Formats

In [34]:
# The date columns are shown as object which has to be converted to string

In [35]:
# converting data type of date from 'object" to "datetime"
messy_data['Join Date'] = pd.to_datetime(messy_data['Join Date'], format='mixed') 



#he errors='coerce' parameter is particularly useful if there are any unexpected date formats or invalid entries in the column.

In [36]:
print(messy_data['Join Date'].head())

5    2016-10-15
9    2022-12-08
12   2023-09-08
13   2023-06-24
14   2003-10-16
Name: Join Date, dtype: datetime64[ns]

### STEP 8: Correcting department names

In [38]:
# For the purpose of correcting department names we need to find out the unique department names available

In [39]:
unique_departments = messy_data['Department'].unique()
print("Unique department names before cleaning:", unique_departments)

Unique department names before cleaning: ['SupportE' 'HR' 'Engineering' 'SalesA' 'Marketing' 'Engineeringi'
 'Salesw' 'Sales' 'SalesK' 'MarketingU' 'Support' 'Supporty' 'Marketinge'
 'MarketingR' 'HRv' 'SalesM' 'EngineeringL' 'MarketingQ' 'HRs' 'Supportj'
 'Salesd' 'SalesU' 'MarketingH' 'Salesj' 'Saleso' 'Engineeringe'
 'Marketingr' 'Engineeringm' 'SalesW' 'Engineeringp' 'SalesC'
 'EngineeringK' 'SalesN' 'HRo' 'SupportB' 'HRi' 'Supporta' 'HRn'
 'SupportC' 'Supportm' 'Supporto' 'EngineeringH' 'Marketingw'
 'EngineeringM' 'Salesy' 'HRE' 'Marketingm' 'HRw' 'Supportk' 'SupportS'
 'EngineeringD' 'Marketingz' 'Salesr' 'Engineeringn' 'MarketingO' 'SalesF'
 'Salesz' 'Marketingt' 'Engineeringv' 'HRL' 'HRI' 'HRW' 'EngineeringR'
 'Salese' 'Saless' 'Salesn' 'SalesE' 'HRy' 'SalesD' 'HRz' 'MarketingG'
 'Marketingn' 'SalesI' 'Engineeringg' 'MarketingE' 'Marketingk' 'SupportA'
 'Engineeringq' 'EngineeringQ' 'EngineeringA' 'Supporte' 'Engineeringu'
 'EngineeringO' 'Supportv' 'HRK' 'Engineeringb' 'SalesV' 'HRT' 'SupportY'
 'MarketingX' 'Supportp' 'HRU' 'HRg' 'SalesS' 'Marketingl' 'Engineeringt'
 'MarketingD' 'EngineeringX' 'Marketingh' 'MarketingF' 'EngineeringC'
 'Engineeringz' 'HRP' 'Salesv' 'Engineeringk' 'SupportH' 'Supportq' 'HRJ'
 'Supportd' 'HRZ' 'SupportJ' 'MarketingZ' 'Salesc' 'EngineeringJ'
 'EngineeringT' 'Supportl' 'SupportQ' 'EngineeringG' 'SalesH' 'SupportV'
 'HRq' 'Engineeringc' 'SupportL' 'Supportt' 'EngineeringF' 'SupportP'
 'MarketingN' 'Engineeringf' 'HRA' 'HRp' 'EngineeringZ' 'HRl' 'Marketingb'
 'HRr' 'MarketingV' 'HRM' 'MarketingC' 'Supporti' 'Marketingx'
 'MarketingJ' 'Marketingi' 'Engineeringh' 'Supportw' 'Engineerings'
 'Supportb' 'Salesl' 'SalesO' 'Marketingf' 'Marketingg' 'SupportK'
 'Engineeringd' 'HRN' 'HRk' 'Marketingd' 'SalesR' 'MarketingS'
 'MarketingL' 'MarketingT' 'Engineeringw' 'Salesg' 'HRB' 'EngineeringV'
 'HRb' 'SupportN' 'SupportO' 'SalesX' 'SupportG' 'Marketingc' 'Supportn'
 'EngineeringE' 'EngineeringU' 'Supportx' 'SalesB' 'Salesp' 'Salesk'
 'SalesY' 'SalesL' 'Marketingq' 'SupportD' 'Salesu' 'Engineeringx'
 'Engineeringr' 'EngineeringW' 'HRC' 'SupportF' 'Marketingj' 'HRY'
 'Marketingy' 'MarketingM' 'HRm' 'HRF' 'HRH' 'Engineeringa' 'SupportU'
 'Salesa' 'Salesf' 'Engineeringl' 'MarketingY' 'Supportf' 'HRd' 'HRX'
 'Salest' 'HRu' 'SalesZ' 'EngineeringB' 'Salesi' 'HRj' 'HRe' 'SupportX'
 'EngineeringN' 'SupportM' 'HRV' 'HRG' 'MarketingB' 'HRR' 'Supportu'
 'Supportc' 'MarketingK' 'Marketingv' 'HRa' 'Engineeringj' 'EngineeringS'
 'HRt' 'Engineeringy' 'Salesm' 'SupportI' 'HRf' 'HRS' 'Supportr'
 'EngineeringI' 'SalesJ' 'SupportT' 'SupportR' 'EngineeringP' 'Salesx'
 'Marketings' 'SupportW' 'HRh' 'Marketingp' 'Supports' 'HRc' 'Supportg'
 'SalesT' 'Supportz' 'SalesG' 'SalesQ' 'Marketingu' 'Supporth' 'Salesq'
 'Salesb' 'SalesP' 'Marketinga' 'HRD' 'MarketingP' 'MarketingI' 'SupportZ']

In [40]:
# Define the department mapping dictionary
department_mapping = {
    "Sales": ['sales', 'salesa', 'salesx', 'salesw', 'salesk', 'salesm', 'salesd', 
              'salesu', 'salesj', 'saleso', 'salesz', 'salesw', 'salesc', 'salesy', 
              'salesn', 'salest', 'salesl', 'salesr', 'salesf', 'salesz', 'salese', 
              'salesd', 'salesy', 'salesi', 'salesu', 'salesv', 'salesv', 'saless', 
              'salesj', 'salesk', 'salesz', 'salesq', 'salesh', 'salesv', 'salesk', 
              'salesi', 'salesc', 'salesq', 'salesh', 'salesb', 'saleso', 'salesr', 
              'salesl', 'salest', 'salesg', 'salesp', 'salesr', 'salesm', 'salesp', 
              'salesl', 'salest', 'salesb', 'salesm', 'salesg', 'salesq', 'salesp', 
              'salesx', 'salesg', 'salesq', 'salesb'],
    "Marketing": ['marketing', 'marketingr', 'marketingu', 'marketinge', 'marketingv', 
                  'marketingq', 'marketingu', 'marketingh', 'marketingr', 'marketingm', 
                  'marketingw', 'marketingd', 'marketingk', 'marketinge', 'marketingn', 
                  'marketingp', 'marketingt', 'marketingv', 'marketingx', 'marketingl', 
                  'marketingh', 'marketingf', 'marketingz', 'marketingo', 'marketingg', 
                  'marketingn', 'marketinge', 'marketingk', 'marketingf', 'marketingl', 
                  'marketingx', 'marketingh', 'marketingf', 'marketingb', 'marketingz', 
                  'marketingc', 'marketinga', 'marketingj', 'marketingv', 'marketingx', 
                  'marketingj', 'marketingb', 'marketingz', 'marketings', 'marketingl', 
                  'marketingt', 'marketingk', 'marketingq', 'marketingd', 'marketings', 
                  'marketingw', 'marketingy', 'marketingm', 'marketingi', 'marketingy', 
                  'marketingk', 'marketingq', 'marketingp'],
    "Support": ['supporte', 'supporty', 'supportj', 'supportc', 'supportb', 'supportg', 
                'supporta', 'supportq', 'supportm', 'supporto', 'supportz', 'supportu', 
                'supporta', 'supporte', 'supportv', 'supporty', 'supportp', 'supportu', 
                'supporth', 'supportq', 'supportd', 'supportj', 'supportl', 'supportx', 
                'supportv', 'supporti', 'supportl', 'supportt', 'supportp', 'supporth', 
                'supportq', 'supporti', 'supportw', 'supportb', 'supportk', 'supportd', 
                'supports', 'supportr', 'supporto', 'supportf', 'supportw', 'supporti', 
                'supportf', 'supportm', 'supportn', 'supportg', 'supportx', 'supportz', 
                'supportc', 'supportn', 'supportp', 'supportf', 'supportm', 'supportr'],
    "HR": ['hr', 'hrv', 'hrs', 'hrt', 'hrf', 'hro', 'hri', 'hrn', 'hrr', 'hrw', 'hry', 
           'hrm', 'hrz', 'hre', 'hru', 'hrp', 'hrg', 'hrk', 'hrt', 'hrp', 'hrg', 'hrj', 
           'hrz', 'hrq', 'hrm', 'hrp', 'hrx', 'hrf', 'hrb', 'hrj', 'hra', 'hrl', 'hri', 
           'hrw', 'hrl', 'hrn', 'hrh', 'hrk', 'hrh', 'hrq', 'hrc', 'hre', 'hra', 'hrg', 
           'hrv', 'hrx', 'hrs', 'hro', 'hrc'],
    "Engineering": ['engineering', 'engineeringi', 'engineeringl', 'engineeringe', 
                    'engineeringm', 'engineeringh', 'engineeringm', 'engineeringd', 
                    'engineeringv', 'engineeringn', 'engineeringt', 'engineeringx', 
                    'engineeringc', 'engineeringc', 'engineeringz', 'engineeringr', 
                    'engineeringp', 'engineeringk', 'engineeringq', 'engineeringq', 
                    'engineeringa', 'engineeringu', 'engineeringo', 'engineeringb', 
                    'engineeringt', 'engineeringh', 'engineeringl', 'engineeringg', 
                    'engineeringe', 'engineeringf', 'engineeringf', 'engineeringb', 
                    'engineeringn', 'engineeringy', 'engineerings', 'engineeringp', 
                    'engineeringw', 'engineeringi', 'engineeringj', 'engineeringx', 
                    'engineeringr', 'engineeringw', 'engineeringi', 'engineerings'],
    "Undefined/NaN": ['nan']
}

# Normalize department names to lowercase
messy_data['Department'] = messy_data['Department'].str.lower()

# Map the department names using the predefined dictionary
def map_department(dept):
    for key, values in department_mapping.items():
        if dept in values:
            return key
    return 'Unknown'

messy_data['Department'] = messy_data['Department'].apply(map_department)

# Handle any unmapped values
messy_data['Department'].fillna('Unknown', inplace=True)

In [41]:
messy_data.head()

,ID,Name,Age,Email,Join Date,Salary,Department
5,f92ea13f-24d3-4792-91e4-5b0e07d90c2c,Lisa Bailey,81.0,milleryvonne@fowler-york.com,2016-10-15,123018.000000,Support
9,d06f507d-62e5-4bd6-a252-4e60e109d324,Jay Fisher,44.0,denisemaynard@jordan.com,2022-12-08,37701.725993,HR
12,da63d159-e9b0-4b92-b0fe-4e87df3aebc1,Amber Marsh,23.0,robert43@gmail.com,2023-09-08,112970.000000,Engineering
13,5ca27087-5c90-4d42-94d0-7e9ee3f422b9,Patrick Mooney,57.0,bowersjasmine@hotmail.com,2023-06-24,41511.139646,Sales
14,9b83a5e5-9516-493f-86f8-d6c445edb501,Nicole Cardenas,60.0,griffinlinda@harrison.com,2003-10-16,51625.814403,Marketing

In [42]:
# Verify the changes by displaying unique department names after cleaning
cleaned_departments = messy_data['Department'].unique()
print("Unique department names after cleaning:", cleaned_departments)

Unique department names after cleaning: ['Support' 'HR' 'Engineering' 'Sales' 'Marketing' 'Unknown']

### STEP 9- Handling Salary Noise

In [43]:
messy_data['Salary'] = messy_data['Salary'].round(2)

In [44]:
print(messy_data['Salary'].head())

5     123018.00
9      37701.73
12    112970.00
13     41511.14
14     51625.81
Name: Salary, dtype: float64

In [45]:
messy_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4486 entries, 5 to 10998
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          4486 non-null   object
 1   Name        4486 non-null   object
 2   Age         4486 non-null   float64
 3   Email       4486 non-null   object
 4   Join Date   4486 non-null   datetime64[ns]
 5   Salary      4486 non-null   float64
 6   Department  4486 non-null   object
dtypes: datetime64[ns](1), float64(2), object(4)
memory usage: 280.4+ KB

In [47]:
# Save the cleaned dataset
messy_data.to_csv('cleaned_dataset.csv', index=False)

# PROCESS DOCUMENTATION

STEP:1 Loading Dataset.

1. Initially the csv file was loaded to the jupyter notebook. After importing necessary libraries like pandas and numpy , basic    operations like shape, info, describe & column names were executed.


Step: 2 Inspecting Data
   On conducting thorough scrutiny of the data set , following discrepencies were observed:
1. presence of unwanted column-	Unnamed: 0
2. Presence of Duplicate rows & columns
3. Null values existing in columns like salary, Age,Email,Join date,Salary and department


Step:3 Handling Missing values
1. Missing values detected in salary and age column was replaced with median assuming that outliers may exist.
2. While replacing salary & age column with median , some error occured and to handle the same
   "pd.options.mode.copy_on_write = True" code was used.  
3. percentage of null values under various columns was calculated so as to drop the same if it exceeeds 50%. However , null    values present under various columns was less than 50%, hence no columns dropped.

Step:4 Removing Duplicates
1. All the duplicate values dropped using drop duplicate option.

Step:5 Correcting Email formats
 1. Emails were in object format and the initial step was to convert the same to string.
 2. The is_valid_email Function uses a regular expression to check if an email address is in a valid format. The pattern matches     common email formats.
 3. Thirdly using the lambda function all valid emails were sorted replacing the invalid ones with "None"and lastly the rows         invalid email format dropped.
 
Step :6 Cleaning name fields
1. To check for uncommon values under 'Name ' column, threshold option is used assuming that noise is rare. However no such        instances was detected.
2. The threshold option used to determine the occurence of uncommon values. In this case , it has been assumed that any value      appearing fewer than 10 times is considered uncommon.
3. Initially the values with count below threshold is filtered, then the same is stored under uncommon values and the same is       printed.
4. Also as an additional measure  the columns with "object datatype" was run through for loop function to detect the presence of garbage values and the result shown null.


Step :7 Standardising Date Formats.
  
 1. The date available in the dataset was in "object" datatype and the same was converted to string first and then converted to     yyyy/mm/dd format.
 
STEP 8: Correcting department names.

1. The department name column was a total mess with too much of unique values
2. Firstly all department values were mapped to common department dictionary names like marketing, HR, Sales,support,        engineering & Na
3. Secondly all was converted to lower case so as to maintain consistency.
4. Thirdly the department names was mapped using for loop and applied the same to "department" column.
5. Lastly the unmapped ones with NA was filled with 'unknown' value, followed by  Verifying the changes by displaying unique       department names after cleaning.


STEP 9- Handling Salary Noise.
1. Salary column consisted of decimals more than two digits.So the same was rounded off to nearest two digits.

Finally the cleaned data set was converted to csv file using messy_data to_csv('cleaned_dataset.csv', index=False)